/* styles/tailwind.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
html,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-light: #ffff;
  --bg-dark: #181a2a;
  --txt-light: #fff;
}

.bg_light {
  background-color: var(--bg-light);
}
.bg_dark {
  background-color: var(--bg-dark);
}

.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 10px;
}
