.main {
  min-height: 100vh;
}

.latest_reviews_list {
  margin-top: 40px;
  /* display: flex;
  flex-wrap: wrap;
  gap: 30px; */
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr)); /* Three columns */
  gap: 20px;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .latest_reviews_list {
    grid-template-columns: repeat(
      2,
      minmax(250px, 1fr)
    ); /* Two columns for smaller screens */
  }
}
.section_title {
  color: #fff;
  /* Heading/h3/Bold */
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
}
